@model List<RNStore.Models.Compra>;

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendas</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="~/css/produto.css" asp-append-version="true">
    
    <script src="https://kit.fontawesome.com/4550765f78.js" crossorigin="anonymous"></script>

</head>
<body class="d-flex flex-column vh-100">

    @await Html.PartialAsync("_MenuEstoque")

    
    <div class="flex-grow-1">
        <div class="container">
            <h1 class="text-center my-5">Listagem de Vendas</h1>


            <table class="table table-striped table-bordered table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col" >COD</th>           
                        <th scope="col" >Cliente</th> 
                        <th scope="col" >Email</th>  
                        <th scope="col" >CEP</th>  
                        <th scope="col" >Status</th>      
                        <th scope="col" >Data Compra</th> 
                        <th scope="col" >Data Entrega</th>    
                        <th scope="col" >Total Compra</th>  
                        
                        <th scope="col" class="text-center">Opções</th> 
                    </tr>
                </thead>

                <tbody>
                    @if (Model.FirstOrDefault() == null){
                        <td colspan="9" class="text-center">Nenhum registro encontrado</td>
                    }else{

                     @foreach(var compra in Model){
                        var i = "";
                        @switch(compra.statusCompra){
                            case 1:
                                i = "Pago";
                                break;
                            case 2:
                                i = "Enviado";
                                break;
                            case 3:
                                i = "Entregue";
                                break;
                            default:
                                i = "status indisponível";
                                break;
                        }
                        <tr>
                            <td>@compra.idCompra</td>
                            <td>@compra.nomePessoa</td>
                            <td>@compra.email</td>
                            <td><b>Rua:</b> @compra.rua <br /> <b>Bairro:</b> @compra.bairro <br /> <b>Número:</b> @compra.numero <br /> <b>Cidade:</b> @compra.cidade</td>
                            <td>@i</td>
                            <td>@compra.dataCompra</td>
                            <td>@compra.dataEntrega</td>
                            <td>R$ @compra.totalCompra.ToString("F2")</td>
                            
                            <td class="text-center">
                                <a href="/Compra/Update?idCompra=@compra.idCompra" class="btn btn-sm text-primary">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                         
                        </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
    
    <footer class="py-3 mt-5 bg-dark" id="rodape">
        <div class="container text-white">
            <div class="row justify-content-center pt-4">

                <div class="col-12 align-self-center text-center">
                    <h5 class="mt-3 mt-md-0">Copyright © 2025 Innovatech. Todos os direitos reservados.</h5>
                </div>

            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>